h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
blockquote {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background-color: #1e1e1e;
    font-family: 'Inter';
    font-weight: 400;
}

h1,
h2,
h3,
h4 {
    font-family: 'EB Garamond';
    font-weight: 500;
    width: 100%;
}

h2 {
    size: 28px;
    line-height: 32.2px;
}

h3 {
    Size: 22px;
    line-height: 29.7px;
}

.content {
    font-family: 'Inter';
    font-weight: 400;
    font-size: 16px;
    line-height: 21.6px;
    width: 100%;
}

header,
.content-section-theme-dark,
.content-section-theme-bright,
.banner,
footer {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 24px;
    padding-bottom: 24px;
    color: #F5F5F5;
    display: flex;
    justify-content: space-between;
    height: auto;
    flex-wrap: wrap;
}

.header-menu>ul,
.social>ul {
    list-style: none;
    display: flex;
    gap: 10px;
    flex-direction: column;
    width: 70px;
}

.social>ul {
    flex-direction: row;
}

.header-menu>ul>li>a,
.social>ul>li>a {
    text-decoration: none;
    color: #F5F5F5;
}

.header-menu>ul>li>a:hover {
    text-decoration: overline;
    color: rgb(165, 0, 44);
    margin: 2px;
}

.header-logo>a>img {
    width: 78.45px;
    height: 15.43px;

}


.content-section {
    width: 360px;
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    margin: 0 auto;
    background-color: #131313;
    display: flex;
    flex-wrap: wrap;
    gap: 32px;
}

.content-section-theme-dark {
    color: #F5F5F5;
    background-color: #131313;

}

.content-section-theme-bright {
    color: #131313;
    background-color: #FEE42A;


}

.cover {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 72px !important;
}

.cover>span,
.reasons>span {
    display: flex;
}



.cover>span:first-child {
    justify-content: left;
}

.cover>span:last-child {
    justify-content: right;
}

.cover>span {
    justify-content: center;
}

.intro {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
}


.title-publication {
    width: 60%;
    Line-height: 19.2px;
}

.bigger {
    font-size: bigger;
}


.banner-title-dark {
    display: flex;
    flex-direction: column;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    gap: 6px;
}


.content-section-theme-bright>p,
.content-section-theme-dark>p {
    font-size: 20px;
    line-height: 27px;
}

.reasons>span:first-child {
    justify-content: right;
}

.content-section>ul {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    padding-left: 20px;
    padding-right: 20px;
}

.content-section>ul>li>span {
    font-weight: bold;
}

.expert-card {
    background: #343434;
    border-radius: 30px;
    padding: 20px;
    gap: 8px;
    display: flex;
    flex-wrap: wrap;
}

.expert-card>p {
    width: 100%;
}

.expert-card>img {
    width: 100px;
    height: 100px;
}

.yellow {
    background: #FEE42A;
    color: black;
}

.footer__logo>a {
    text-decoration: none;
    color: #F5F5F5;
}